.chat-list {
  width: 100%;
  color: var(--color-text);
  ;
}

.chat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: var(--rounded-area);
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: transparent;
  margin: 0 15px 5px 5px;
}

.chat-item:hover {
  background: linear-gradient(to right, var(--color-blue-dark), var(--color-blue-light-hover));
  box-shadow: 0px 6px 12px var(--color-main-shadow);
}

.chat-item.selected {
  background: linear-gradient(to right, var(--color-blue-dark), var(--color-blue-light));
  box-shadow: 0px 4px 8px var(--color-main-shadow);
}

.chat-avatar {
  width: 36px;
  height: 36px;
  border-radius: var(--rounded-avatar);
  background-color: var(--color-purple-light);
  margin-right: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat-name {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-text);
}

.chat-name.unread {
  font-weight: bold;
  color: var(--color-text);
}

.chat-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.chat-button:focus,
.chat-button:active {
  outline: none;
  border: none;
}