.chatWindow-outer-box {
  background-color: rgb(18, 18, 34) !important;
  border-radius: 12px !important;
  padding: 16px !important;
  height: 100%;  
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
}

.chatWindow-messages {
  flex: 1;              /* fills available space */
  overflow-y: auto;     /* scroll only messages */
  scrollbar-width: thin;
  scrollbar-color: #444 #121222;
}

.chatWindow-outer-box::-webkit-scrollbar {
  width: 8px;
}

.chatWindow-outer-box::-webkit-scrollbar-track {
  background: #121222;
  border-radius: 12px;
}

.chatWindow-outer-box::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 12px;
}

.chatWindow-input {
  background-color: rgb(42,39,74) !important;
  border-radius: 20px;
  width: 100% !important;
  box-shadow: 0px 4px 8px rgb(19, 18, 28);
  
}

.chatWindow-input .MuiInputBase-input {
  color:rgba(255, 255, 255, 0.87);
  font-size: 14px;
}

.chatWindow-input .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.chatWindow-input-send:focus {
  border: none;
}
