.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: linear-gradient(135deg, #1a133b, #451e42);
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.login-card {
  background: #141025;
  padding: 40px 35px;
  border-radius: 20px;
  width: 310px;
  backdrop-filter: blur(10px);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.provider-signin-btn {
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(90deg, #5832a2, #d84380);
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.provider-signin-btn:hover {
  opacity: 0.85;
}

.wrapper h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 4px;
  margin-bottom: 40px;
}
