.chat-list {
  width: 100%;
  color: #ffffff;
}

.chat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: transparent;
  margin: 0 15px 5px 5px;
}

.chat-item:hover {
 background: linear-gradient(to right, rgb(26,25,45), rgb(72,69,104));
 box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.chat-item.selected {
  background: linear-gradient(to right, rgb(26,25,45), rgb(42,39,74));
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


.chat-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(169,161,231);
  margin-right: 12px;
  overflow: hidden; /* ensures image stays inside circle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-avatar img {
  width: 100%; /* scale image to avatar size */
  height: 100%; /* fill the circle */
  object-fit: cover; /* crop instead of squish */
  border-radius: 50%; /* keeps it circular */
}

.chat-name {
  font-size: 16px;
  font-weight: normal;
  color: #e0e0f0;
}

.chat-name.unread {
  font-weight: bold;
  color: #ffffff;
}

.chat-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.chat-button:focus,
.chat-button:active {
  outline: none;
  border: none;
}
