.chat-outer-box {
  height: 400px;
  overflow-y: auto;
}

.chat-message-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.chat-message-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.chat-message-content-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-message-content-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-message-content-avatar {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: #ffffff;
}

.chat-message-content-dateName {
  margin: 8px !important;
}

.chat-message-content-textbox {
  background-color: rgb(42,39,74);
  display: inline-block;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  margin: 8px;
}

.chat-message-content-text {
  font-size: 15px !important;
}
