.chatWindow-outer-box {
  background-color: rgb(18, 18, 34) !important;
  border-radius: 12px !important;
  padding: 16px !important;
  height: 100%;
}

.chatWindow-input {
  background-color: rgb(42,39,74) !important;
  border-radius: 20px;
  width: 100% !important;
  box-shadow: 0px 4px 8px rgb(19, 18, 28);
}

.chatWindow-input .MuiInputBase-input {
  color: #9e9d9e;
}

.chatWindow-input .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.chatWindow-input-send:focus {
  border: none;
}


