.app-layout {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
}

.sidebar {
  width: 72px;
  flex: 0 0 auto;
}

.sidebar > * {
  height: 100vh;
}

.main {
  flex: 1 1 auto;
  padding: 16px;
  text-align: left;
}
