* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #F8F9FB;
}

.sidebar {
  flex-shrink: 0;
}

.main {
  flex: 1;
  min-width: 0;
}

.page {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  background: #121222;
  height: 100%;
  overflow: hidden;
  padding: 50px;

}

.container-content {
  border-radius: 20px;
  background: #1A192D;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.panels {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 0 15px 15px 15px;
  min-height: 0;
}

.chat-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 15px 15px;
}

.chat-title {
  font-size: 1.7rem;
  color: #F8F9FB;
  font-weight: 600;
}

.chat-list-panel {
  width: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-window-panel {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 0;
}

.app-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.app-header {
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  color: #F8F9FB;
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 600;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.app-header-button {
  padding: 12px 16px;
  display: flex;
  justify-content: flex-end;
}

.new-chat-button-container {
  display: flex;

}

.new-chat-button {
  border-radius: 12px !important;
  background: linear-gradient(90deg, #5832a2, #d84380);
}

.new-chat-button:hover {
  background: linear-gradient(90deg, #7a4bd1, #ff5c9d);
}

.new-chat-button:focus,
.new-chat-button:active {
  outline: none;
  border: none;
}