* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.87);
}

.sidebar {
  flex-shrink: 0;
}

.main {
  flex: 1;
  min-width: 0;
}

.page {
  height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgb(18, 18, 34);
    height: 100%;
    overflow: hidden;
    padding: 50px;
    
}

.container-content{
  border-radius: 20px;
  background: rgb(26,25,45);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panels {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 0 15px 15px 15px;
}

.chat-list-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 5px 15px 15px 15px;                
}

.chat-title {
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 600;
}

.chat-list-panel {
    width: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-window-panel {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: auto;
    /*height: 100%;*/
    box-shadow: 0px 4px 8px rgb(19, 18, 28);
   
}

.app-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.app-header {
    padding: 16px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 4px;
    font-weight: 600;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.87);
}

.app-header-button {
    padding: 12px 16px;
    display: flex;
    justify-content: flex-end;
}

.new-chat-button-container {
    display: flex;
    /*padding: 0 0 20px 20px;*/

}

.new-chat-button {
    border-radius: 12px !important;
    background: linear-gradient(to right, rgb(98,51,164), rgb(197,61,123));
}

.new-chat-button:hover {
    /*transform: scale(1.05);*/
    background: linear-gradient(to right, rgb(128,81,194), rgb(227,91,153));
}

.new-chat-button:focus,
.new-chat-button:active {
  outline: none;
  border: none;
}
